<div id="<%= dom_id ruby_rails_tutorial_1 %>">
  <p>
    <strong>First name:</strong>
    <%= ruby_rails_tutorial_1.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= ruby_rails_tutorial_1.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= ruby_rails_tutorial_1.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= ruby_rails_tutorial_1.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= ruby_rails_tutorial_1.twitter %>
  </p>

</div>
