<p style="color: green"><%= notice %></p>

<%= render @ruby_rails_tutorial_1 %>

<div>
  <%= link_to "Edit this ruby rails tutorial 1", edit_ruby_rails_tutorial_1_path(@ruby_rails_tutorial_1) %> |
  <%= link_to "Back to ruby rails tutorial 1s", ruby_rails_tutorial_1s_path %>

  <%= button_to "Destroy this ruby rails tutorial 1", @ruby_rails_tutorial_1, method: :delete %>
</div>
